html, body, .container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: start;
    text-align: center;
    background-color: rgb(75, 45, 131);
}

input, output, img, a {
    display: none;
}

a.url {
    width: 32px;
    height: 32px;
    display: block;
    color: rgb(119, 91, 172);
    transition: all 0.5s;
}

a.url:hover {
    color: rgb(96, 60, 163);
}

h1, button, p {
    font-family: serif;
}

h1 {
    padding: 0;
    margin: 0;
    color: rgb(174, 150, 218);
}

span {
    margin-bottom: 24px;
}

p {
    padding: 0;
    margin: 0;
    color: rgb(118, 86, 177);
}

.title {
    font-size: 24px;
    margin-bottom: 4px;
    color: rgb(174, 150, 218);
}

button {
    width: 196px;
    height: 48px;
    font-size: 24px;
    padding: 5px 25px;
    background-color: rgb(119, 91, 172);
    color: rgb(226, 211, 255);
    border: none;
    border-radius: 32px;
    transition: all 0.5s;
}

button:hover {
    background-color: rgb(96, 60, 163);
}

header {
    margin-top: 24px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: absolute;
    bottom: 48px;
}